{# freepost
 # http://freepo.st
 # 
 # Copyright © 2014-2015 zPlus
 # 
 # This file is part of freepost.
 # freepost is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # (at your option) any later version.
 # 
 # freepost is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 # GNU General Public License for more details.
 # 
 # You should have received a copy of the GNU General Public License
 # along with freepost. If not, see <http://www.gnu.org/licenses/>.
 #}

{% extends 'AppBundle:Default:User/Page/my.html.twig' %}

{% block list %}
    
    {% for aComment in comments %}
        <div class="comment">
            
            <div class="text">
                {{ aComment.text|raw }}
            </div>
            
            {# Info about this comment #}
            <div class="commentInfo">
                <div class="username">
                    <img class="picture" alt="" title="" src="{{ url('freepost_user_picture', {'userHashId': aComment.user.hashId}) }}" />
                    {{ aComment.user.username }}
                    <br />
                    {# http://php.net/manual/en/function.date.php #}
                    {{ aComment.created|date("H:i M, jS") }}
                </div>
                
                <a class="none post" target="_self" href="{{ path('freepost_post', {'communityName': aComment.post.community.name, 'postHashId': aComment.post.hashId, 'postTitle': aComment.post.title}) }}">
                    {{ aComment.post.title }}
                </a>
            </div>
        </div>
    {% endfor %}
    
{% endblock %}














