{# freepost
 # http://freepo.st
 # 
 # Copyright © 2014-2015 zPlus
 # 
 # This file is part of freepost.
 # freepost is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # (at your option) any later version.
 # 
 # freepost is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 # GNU General Public License for more details.
 # 
 # You should have received a copy of the GNU General Public License
 # along with freepost. If not, see <http://www.gnu.org/licenses/>.
 #}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    
    {% image '@AppBundle/Resources/public/images/faveicon.ico' %}
        <link rel="shortcut icon" type="image/png" href="{{ asset_url }}"/>
    {% endimage %}

	<title>{% block title %}{% endblock %}</title>

	{% block stylesheet %}

        {% stylesheets
            '@AppBundle/Resources/public/css/fonts/font.css'
            '@AppBundle/Resources/public/css/main.css'
            '@AppBundle/Resources/public/css/postsList.css'
            '@AppBundle/Resources/public/css/bootstrap/css/bootstrap.min.css'
            '@AppBundle/Resources/public/css/bootstrap/css/bootstrap-theme.min.css'
            '@AppBundle/Resources/public/css/home.css'
        %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
            
	{% endblock %}

	{% block javascript %}
            
        {% javascripts
            '@AppBundle/Resources/public/js/jquery.js'
            '@AppBundle/Resources/public/css/bootstrap/js/bootstrap.min.js'
            '@AppBundle/Resources/public/js/home.js'
        %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
        
        {# CKEditor JS file must be linked here and not using assetic, because it uses the
           public path to retrieve all files (skins, plugins, etc.)
        #}
        <script type="text/javascript" src="{{ asset('bundles/app/js/ckeditor/ckeditor.js') }}"></script>
    
    {% endblock %}

</head>
<body class="home">

<div class="header">


    <a class="none" target="_self" href="{{ url('freepost_homepage') }}">
        {% image '@AppBundle/Resources/public/images/logo.png' %}
        <img src="{{ asset_url }}" width="200" height="50" alt="" />
        {% endimage %}

    </a>

    {% if not app.user %}
        <a class="btn btn-primary left" target="_self" href="{{ url('freepost_user_signin') }}">
            ورود
        </a>
    {% endif %}

    <a class="btn btn-danger left" target="_self" href="{{ url('freepost_homepage') }}">
        <i class="glyphicon glyphicon-home"></i>
خانه
    </a>

</div>


	{% block body %}{% endblock %}

<div class="header footer">


    <a class="none" target="_self" href="{{ url('freepost_homepage') }}">
        {% image '@AppBundle/Resources/public/images/logo.png' %}
        <img src="{{ asset_url }}" width="200" height="50" alt="" />
        {% endimage %}

        <div>
            تمامی حق و حقوق این نرم افزار به موسسه جام جم متعلق است
        </div>

    </a>

</div>
	{# Piwik statistics # }
	<script type="text/javascript">
		var _paq = _paq || [];
		_paq.push(["setCookieDomain", "*.freepo.st"]);
		_paq.push(["trackPageView"]);
		_paq.push(["enableLinkTracking"]);
		_paq.push(["setTrackerUrl", "http://a.freepo.st/t.php"]);
		_paq.push(["setSiteId", "1"]);
	</script>
	<script type="text/javascript" defer="defer" async="async" src="http://a.freepo.st/t.js"></script>
    #}
    
</body>
</html>
